container_commands:
  01_collectstatic:
    command:"source /opt/python/run/venv/bin/activate && python backend/manage.py collectstatic --noinput"
  02_migrate: 
    command:"source /opt/python/run/venv/bin/activate && python backend/manage.py migrate --noinput"
    leader_only: true


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings.production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "backend/config/wsgi.py"